.tag {
    display: flex;
    align-items: center;
    color: rgb(var(--accent-color));
    background-color: rgba(var(--accent-color), .1);
    width: fit-content;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 20px;
    font-size: 12px;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

@media (max-width: 575px) {
    .tag{
        padding: 4px 8px;
        font-size: 10px;
    }

}