footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
footer ul{
    display: flex;
    gap: 5px;
}
footer ul li{
    display: flex;
    align-items: center;
    font-size: 10px;
}
footer ul li img{
    width: 20px;
    height: 20px;
    margin: 10px;
}