.project-card {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
    will-change: box-shadow, background-color;
    gap:10px;
}

.project-card:hover {
    background-color: var(--hover-color);
    box-shadow: inset 0 1.5px 0 0 var(--hover-box-shadow-color);
}

.project-image {
    width: 200px;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 575px) {
    .project-card {
        flex-direction: column;
    }
}


.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.project-content p {
    max-width: 65ch;
    margin-top: 10px;
}


@media (max-width: 575px) {
    .project-image {
        width: 200px;
        margin-top: 5px;
        align-self: center;
    }
    .project-content p {
        max-width: 65ch;
        margin-top: 5px;
    }
}


.link-icon{
    width: 12px;
    height: 12px;
}

.urls-wrapper{
    margin: 10px 0 5px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.urls-wrapper a{
    text-decoration: none;
    color: rgb(var(--text-color));
}

.urls-wrapper svg{
    vertical-align: middle;
    padding-right: 2px;
    fill: rgb(var(--text-color));
}