.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding-top: 100px;

}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-text h1{
    margin-bottom: 8px;            
}
.hero-text h4{
    color: rgb(var(--text-color));
}

.hero-text p{
    margin-bottom: 5px;
}
