.small-logo{
    height:25px;
    width:25px;
}

.small-logo path{
    fill: rgb(var(--accent-color));
}


@media (max-width: 575px) {
    .small-logo{
        height:20px;
        width:20px;
    }
}