.summary-card{
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    user-select: none;

}

.summary-card:hover {
    transform: scale(1.10);
}

.summary-icon {
    font-size: 28px;
    margin-bottom: 10px;
}

.summary-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: 5px;
}

.summary-content {
    font-size: 14px;
    color: rgb(var(--text-color));
}